dist: xenial
language: python
python:
  - 2.7
  - 3.6

install:
  - pip install tox-travis

script:
  - tox

after_success:
  - tox -e coverage,codecov

deploy:
  - provider: pypi
    user: zsimic
    password:
      secure: "ldGHGHbJJoYLPwGyz9s+nuE2rD6C1qviTfVDprNoQUDLg1jkWpqonJWHiUw+/1L4k0X1P/lgz6gsZEG00SiNqsC3AEuy51uaQMbg+kgINh5hvONNT4yAB+anpQcxXF5pDyY841f8AYFhh8uO0b3/cNEqdLFgOx9yIbP2xTAgwBhs311yq00KycPMSZ/dkRt7OTYKQ4wLTXb6p3stiE9grN/73AJzZBCUqEVLsIaE7K4/3he1gahLCgTcjafJQDDzcyX8Kdj35EWzOsk9xfH3+/lAWs9mifwceFNrU7CK7mv4m/bJ6DbFt/FcCXyTPlJXpXD66njSvQaAO3uPJAhgaPLmPnx8yb+9cbkK1UFPZ3rsprY9mRSbzzcUVY3mO0YdZpZI+DmyxK4Jc+vs1hvuKweVN+tTKNCpUNiqOBrqyJTOGalSgRyKiQgcit3DTHBzp7Ibt56Rbmke4e7jO1a2QSFAGoFbYKGsml9Uyhy2qbS43nGLi4W+eZxmGLV0XAdkbRxW2c9IrPk8AXFEPYfXAontrqRPeEtnnUeYnXltnITqIdyYQQQLztnoYldfF/zcmUo7VRJlrD7W+GPYc2e3X9NjNT4w7Wu6DogGM1CCjM+r7w3cWQboReiMCzu4plkRG8N4okPUkq09NdbhSZHiBXqJ629h4fCYVdrN6XVjMBw="
    distributions: "sdist bdist_wheel --universal"
    skip_cleanup: true
    on:
      python: 3.6
      repo: zsimic/mgit
      tags: true
